body {
    background-color: #4a5365;
    margin: 0px;
    padding: 0px;
}

article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 7fr 1fr;
    grid-gap: 0px;
    align-items: start;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

header {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-items: start;
    font-size: 2vmin;
}

.godot_logo {
    display: block;
    max-width:5vmax;
    max-height: 5vmax;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 0px;
    padding-bottom: 1vmin;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h1 span {
    color: rgb(245,115,137);
}


.chart-container {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    height: 75vh;
    width: 75vw;
}

canvas {
    background-color: rgba(62, 142, 204, 1);
    border-radius: 15px;
    border-color: none;
}

.credits {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    padding: 0px;
    margin: 0px;
    justify-self: right;
    align-self: start;
}

.credits p {
    display: inline;
    text-transform: uppercase;
    font-size: 1vh;
    font-style: italic;
    color: white;
    padding-right: 15px;
    margin: 0px;
}

.credits a {
    color: rgb(245,115,137);
    text-decoration: none;
}
